body {
    padding: 0;
    margin: 0;
    background: #f2f6e9;
  }
  
  /*--- navigation bar ---*/
  
  .navbar {
    background:#231f20;
  }
  
  .nav-link,
  .navbar-brand {
    color: #fff;
    cursor: pointer;
  }
  
  .nav-link {
    margin-right: 1em !important;
  }
  
  .nav-link:hover {
    color: #2ed88b;
  }
  
  .navbar-collapse {
    justify-content: flex-end;
  }
  .header {
    background-image: url('images/banner.png');
    background-size: cover;
    background-position: center;
    position: relative;
  }